<!doctype html>
<html lang="{{ overrideLang if overrideLang else lang }}">
  <head>
    <link href="/main.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Noto+Serif&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-serif text-black">
    {{ content | safe }}
  </body>
</html>
