<!doctype html>
<html lang="{{ overrideLang if overrideLang else lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }} - {{ site.title }}</title>
    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}" />
    {% endif %}

    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/favicon.ico" rel="alternate icon" />
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />

    <link href="{{ site.url }}{{ page.url }}" rel="canonical" />

    <link
      rel="alternate"
      hreflang="{{ lang }}"
      href="{{ site.url }}{{ page.url }}"
    />
    {% for link in page.url | locale_links %}
      <link
        rel="alternate"
        hreflang="{{ link.lang }}"
        href="{{ site.url }}{{ link.url }}"
      />
    {% endfor %}
    {% if lang === "fi" %}
      <link
        rel="alternate"
        hreflang="x-default"
        href="{{ site.url }}{{ page.url }}"
      />
    {% else %}
      {% for link in page.url | locale_links %}
        {% if link.lang === "fi" %}
          <link
            rel="alternate"
            hreflang="x-default"
            href="{{ site.url }}{{ link.url }}"
          />
        {% endif %}
      {% endfor %}
    {% endif %}

    <meta property="og:title" content="{{ title }} - {{ site.title }}" />
    {% if description %}
      <meta property="og:description" content="{{ description }}" />
    {% else %}
      <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    {# TODO: Add og:type #}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:image" content="/opengraph.png" />
    {# TODO: Add og:locale #}
    <meta property="og:site_name" content="{{ site.title }}" />

    <link href="/main.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Noto+Serif&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-serif text-black">
    {{ content | safe }}
  </body>
</html>
