---
hyyPage: true
layout: compass.njk
permalink: "{{ \"hyy\" | makePath(\"fi\") }}"
title: HYYn edustajistovaalien vaalikone 2024
---

<div
  id="voting-compass-app"
  data-election-id="ORGANIZATION_vzp9aWY6stwH5VMfE1aiqd_ELECTION_6dzJAcih3BfL8JSjSNXo9g"
  data-lang-id="fi"
>
  <script
    crossorigin="anonymous"
    type="text/javascript"
    src="https://vaalit.ehdokaskone.fi/public/assets/index.js"
  ></script>
</div>
