---
layout: compass.njk
permalink: "{{ \"jyy\" | makePath(\"fi\") }}"
title: JYYn edustajistovaalien vaalikone 2025
redirect: https://jyy-vaa-2025-frontend.onrender.com/
---

Sinut ohjataan uudelleen vaalikoneeseen. Jos uudelleenohjaus ei toimi, pääset
koneeseen [tästä](https://jyy-vaa-2025-frontend.onrender.com/).
