---
layout: compass.njk
overrideLang: sv
permalink: "{{ \"shs\" | makePath(\"fi\") }}"
title: Valkompass för SHS fullmäktigeval 2024
---

<div
  id="voting-compass-app"
  data-election-id="ORGANIZATION_vzp9aWY6stwH5VMfE1aiqd_ELECTION_jp2HNiV7ainmK753WYEh4T"
  data-lang-id="sv"
>
  <script
    crossorigin="anonymous"
    type="text/javascript"
    src="https://vaalit.ehdokaskone.fi/public/assets/index.js"
  ></script>
</div>
