---
hyyPage: true
layout: compass.njk
permalink: "{{ \"taiyo\" | makePath(\"fi\") }}"
title: TaiYon edustajistovaalien vaalikone 2025
---

<div
  id="voting-compass-app"
  data-lang-id="fi"
  data-election-id="ORGANIZATION_vzp9aWY6stwH5VMfE1aiqd_ELECTION_wGZsa6UrHhKG5uVwiGErR6"
>
  <script
    crossorigin="anonymous"
    type="text/javascript"
    src="https://vaalit.ehdokaskone.fi/public/assets/index.js"
  ></script>
</div>
