---
layout: compass.njk
permalink: "{{ \"trey\" | makePath(\"fi\") }}"
title: TREYn edustajistovaalien vaalikone 2024
treyPage: true
---

<div
  id="voting-compass-app"
  data-election-id="ORGANIZATION_vzp9aWY6stwH5VMfE1aiqd_ELECTION_gwUg65g6svUXWZ4qSqEvsZ"
  data-lang-id="fi"
>
  <script
    crossorigin="anonymous"
    type="text/javascript"
    src="https://vaalit.ehdokaskone.fi/public/assets/index.js"
  ></script>
</div>
