---
layout: compass.njk
permalink: "{{ \"vyy\" | makePath(\"fi\") }}"
title: VYY:n edustajistovaalien vaalikone 2025
redirect: https://vyy-vaa-2025-frontend.onrender.com/
---

Sinut ohjataan uudelleen vaalikoneeseen. Jos uudelleenohjaus ei toimi, pääset
koneeseen [tästä](https://vyy-vaa-2025-frontend.onrender.com/).
