---
layout: compass.njk
permalink: "{{ \"shs\" | makePath(\"sv\") }}"
title: Valkompass för SHS fullmäktigeval 2025
---

<div
  id="voting-compass-app"
  data-lang-id="sv"
  data-election-id="ORGANIZATION_vzp9aWY6stwH5VMfE1aiqd_ELECTION_mGY5mfKZ5DMdvnQHVpUxY7"
>
  <script
    crossorigin="anonymous"
    type="text/javascript"
    src="https://vaalit.ehdokaskone.fi/public/assets/index.js"
  ></script>
</div>
