---
layout: compass.njk
permalink: "{{ \"aas\" | makePath(\"en\") }}"
title: Election Compass for ÅAS’s Student Union Council Election 2025
---

<div
  id="voting-compass-app"
  data-lang-id="en"
  data-election-id="ORGANIZATION_vzp9aWY6stwH5VMfE1aiqd_ELECTION_hAR2T1bKmpaFDZ9sEJ9wKK"
>
  <script
    crossorigin="anonymous"
    type="text/javascript"
    src="https://vaalit.ehdokaskone.fi/public/assets/index.js"
  ></script>
</div>
