---
layout: compass.njk
permalink: "{{ \"oyy\" | makePath(\"en\") }}"
title: Election Compass for OYY’s Representative Council Elections 2025
---

<div
  id="voting-compass-app"
  data-lang-id="en"
  data-election-id="ORGANIZATION_vzp9aWY6stwH5VMfE1aiqd_ELECTION_4Cjogxn22QC7gePTiJqkoq"
>
  <script
    crossorigin="anonymous"
    type="text/javascript"
    src="https://vaalit.ehdokaskone.fi/public/assets/index.js"
  ></script>
</div>
